

/* Main Content */
.main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-top: 100px; /* Tambahkan jarak antara navbar dan main content */
}

/* Product List */
.product-list {
    flex: 2;
    margin-right: 20px;
}

.product-list h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.product-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

.product-container img {
    width: 50px;
    height: auto;
    border-radius: 0.5rem;
}

.product-container span {
    font-size: 1rem;
    font-weight: 600;
    flex: 1;
    margin-left: 10px;
}

.product-container .price {
    font-size: 1rem;
    font-weight: 600;
    color: var(--light--orange--color);
    padding: 1rem;
}

.product-container .kuantiti {
    font-size: 0.9rem;
    font-weight: 400;
    color: var(--text--color);
}

.total {
    text-align: center;
    margin-top: 20px;
}

.total h1, .total h2 {
    margin: 5px 0;
}

/* Payment Form */
.payment-form {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    box-shadow: 1px 2px 11px 4px rgba(14, 55, 54, 0.15);
    border-radius: 0.5rem;
    background: var(--bg--color);
}

.payment-form h2 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.input-container {
    margin-bottom: 1rem;
}

.input-container label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.input-container input, .input-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: var(--green-color);
    color: var(--bg--color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
}

button:hover {
    background: var(--light-green-color);
    transition: 0.2s all linear;
}

@media (max-width: 1080px ){


    
    .payment-form{
        margin-top: 20px;
        
    }

    .product-list {
        margin-right: 0;
    }
}

@media (max-width: 450px){
    .main-content {
        padding: 10px;
        align-items: center;
        flex-direction: column;
        
    }

    .product-list h2 {
        font-size: 1.4rem;
    }

    .product-container img {
        width: 40px;
    }

    .product-container span {
        font-size: 0.9rem;
    }

    .product-container .price {
        font-size: 0.9rem;
    }

    .product-container .kuantiti {
        font-size: 0.8rem;
    }

    .payment-form h2 {
        font-size: 1.4rem;
    }

    .input-container label {
        font-size: 0.9rem;
    }

    .input-container input, .input-container select {
        padding: 8px;
        font-size: 0.9rem;
    }

    button {
        padding: 8px;
        font-size: 0.9rem;
    }
}