/*ini desain css untuk semua kategori product page/*


/* Filter Icon */

.nama-kategori{
    position: relative;
    display: flex;
    left: 25%;
    margin-top: 1rem;
    
}

.bx .fashion-active{
    color: var(--green-color);
}

.filter-icon {
    position: fixed;
    top: 100px;
    left: 20px;
    z-index: 100;
    cursor: pointer;
}

.filter-icon .bx {
    font-size: 24px;
    color: var(--text--color);
}

/* Filter Section */


.filter-section {
    display: none;
    position: fixed;
    top: 100px;
    left: 20px;
    width: 250px;
    max-height: 70vh;
    overflow-y: auto;
    padding: 20px;
    background: var(--bg--color);
    box-shadow: 0 8px 11px rgb(14, 55, 54 / 15%);
    border-radius: 0.5rem;
    z-index: 100;
}

.filter-section.active {
    display: block;
}

.search-bar{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.search-bar input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

.search-bar .bx{
    font-size: 1.5rem;
    color: var(--text--color);
}
.filter-section h2 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.filter-group {
    margin-bottom: 1rem;
}

.filter-group label {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.filter-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    font-size: 1rem;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: var(--green-color);
    color: var(--bg--color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 20px;
}

button:hover {
    background: var(--light-green-color);
    transition: 0.2s all linear;
}



@media (max-width: 1500px){
    .filter-section {
        width: 250px;
        height: auto;
    }
    .filter-section .filter-group{
        margin-bottom: 1rem;
    }

    .filter-section .filter-group {
        margin-bottom: 1rem;
    }

}

@media (max-width: 420px){

    .navbar {
        display: none; /* Hide navbar by default */
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: var(--bg--color);
        z-index: 1001;
    }

    .navbar.active {
        display: flex; /* Show navbar when active */
    }

    #menu-icon {
        display: block; /* Show menu icon */
    }

    .filter-section {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        padding: 20px;
        
    }

    .search-bar{
        width: 100px;

    }

    .search-bar input{
        font-size: 10px;

    }
}

